{% extends 'detector/base.html' %}
{% load static %}

{% block css%}
    <link rel="stylesheet" href="{% static 'css/detalle.css' %}">
{% endblock %}
{% block content %}
<div id="education-section" class="education-section">
    <!-- <h2 class="section-title">Recursos Educativos</h2> -->
    <div class="section-header">
        <h2 class="section-title">Recursos Educativos</h2>
        {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'crear_recurso' %}" class="add-resource-btn">Añadir recurso</a>
        {% endif %}
    </div>

    <div class="resource-grid">
        {% for recurso in recursos %}
        <div class="resource-card">
            <div class="resource-img">
                {% if recurso.categoria == 'alimentacion' %}
                    <i class="fas fa-utensils"></i>
                {% elif recurso.categoria == 'monitoreo' %}
                    <i class="fas fa-chart-line"></i>
                {% elif recurso.categoria == 'recetas' %}
                    <i class="fas fa-apple-alt"></i>
                {% elif recurso.categoria == 'signos' %}
                    <i class="fas fa-exclamation-triangle"></i>
                {% else %}
                    <i class="fas fa-book"></i>
                {% endif %}
            </div>
            <div class="resource-content">
                <h3 class="resource-title">{{ recurso.titulo }}</h3>
                <p class="resource-desc">{{ recurso.descripcion|truncatewords:20 }}{% if recurso.descripcion|wordcount > 20 %} (...) {% endif %}</p>
                <a href="{{ recurso.archivo.url }}" target="_blank" class="resource-link">Ver recurso</a>
            </div>
        </div>
        {% empty %}
        <p>No hay recursos educativos disponibles en este momento.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}